<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<fr>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <form action="/api/files/upload" method="post" enctype="multipart/form-data">

        <% if (locals.Link) {  %>

            <div> 
                Your file is uploaded
                <br>
                <a href="<%=locals.Link %>"><%=locals.Link %></a>
                <br> <br>
            </div>
            <% } %>

        <div id="div1">
            <label for="file" id="fileid">File: </label>
            <input type="file" id="file" name="file" required />

        </div>

        <br>

        <div id="div2">

            <label for="password">Password: </label>
            <input type="password" id="password" name="password" />

            <button type="submit"> Share </button>

        </div>
    </form>
</body>

</html>