<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="post">

        <% if( locals.error) { %>
            <div>
                <p> Incorrect password </p>
            </div>
            <% } %>

                <div id="div1">

                    <label for="password">Password: </label>
                    <input type="password" id="password" name="password" />

                    <button type="download"> Download </button>

                </div>
    </form>
</body>

</html>